*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: #7fffda;
    height: 100vh;
    width: 100%;
}
header,footer{
    background-color: white;
    height: 80px;
}
main{
    height: calc(100% - 160px);
    overflow-y: auto;
}
#playground{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.square{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.square.safe{
    background-color: #16166D;
    color: white;
}
